.footer {
    background-color: rgb(116, 22, 48);
    color: white;
    width: 100%;
    margin: 50px 0% 0% 0%;
    padding: 1% 0%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}