.header {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    background-color: rgb(116, 22, 48);
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.header nav ul {
    list-style: none;
    display: flex; 
    flex-direction: row; 
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center; /* Centrar horizontalmente*/
}   
