/*ESTILOS GLOBALES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
  padding-bottom: 30px;
}

body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  background-color: rgb(202, 200, 200);
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;   
}

h1,
h2,
h3,
h4,
p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

